button:focus{
    outline: none;
}
button:active{
    outline: none;
}
.close-btn{
    color: lightgray;
}

@media only screen and (min-height: 1300px) {
    p{
        font-size: 1.5em;
    }
    .form-row{
        font-size: 1.5em;
    }
    input[type="text"] {
        font-size:25px;
    }
    #inputSearchType{
        height: 54px;
    }
    select[id="inputSearchType"]{
        font-size:20px;

    }
    #searchbtn{
        font-size: 1.5em;
    }
    .icard{
        font-size: 1.5em;
    }
}